.content {
  margin-top: 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  color: white;
  font-family: "Roboto", sans-serif;
}

.leftContent {
  margin-right: 0px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rightContent {
  margin-top: 30px;
  margin-left: 25%;
}

.carousel {
  width: 50vw;
  height: 450px;
  font-family: "Roboto", sans-serif;
}

.carouselHeading {
  font-weight: 400;
}

.carouselCaption {
  font-weight: 300;
}

a {
  font-weight: 500;
  color: rgb(191, 232, 255) !important;
  cursor: pointer;
  transition: all 300ms ease;
}

a:hover {
  color: rgb(148, 216, 255) !important;
}

.heading {
  margin-left: 50px;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}

.signUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
  width: 250px;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
}

.facebookButton {
  border: 1.5px solid #4267b2;
  transition: all 500ms;
}

.facebookButton:hover {
  border: 1px solid transparent;
  background-color: white;
  color: black;
}

.googleButton {
  border: 1.5px solid #0f9d58;
  transition: all 500ms;
}

.googleButton:hover {
  border: 1px solid transparent;
  background-color: white;
  color: black;
}

.muzikaButton{
  border: 1px solid rgb(199, 159, 49);
  transition: all 500ms;
}

.muzikaButton:hover{
  border: 1px solid transparent;
  background-color: white;
  color: black;
}

.or{
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.facebookLogo {
  color: #4267b2;
  margin-right: 10px;
  zoom: 1.3;
}

.googleLogo {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0
      25%/48% 40%,
    linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 54%),
    linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
  zoom: 1.4;
}

.muzikaLogo{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}